/* ============================= */
/* RESET */
/* ============================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background: black;
    color: white;
    overflow: hidden;
}

/* ============================= */
/* SCENE LAYERS */
/* ============================= */
#scene-container {
    position: fixed;
    inset: 1;
    z-index: 1;
}

.scene-bg {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.character-bg,
.hero-bg-image {
    position: absolute;
    inset: 0;
}

.character-bg {
    z-index: 0;
    overflow: hidden;
}

.hero-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    pointer-events: none;
}

.hero-bg-image.active {
    opacity: 1;
}

/* ============================= */
/* UI OVERLAY */
/* ============================= */
.hero-info {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.hero-name {
    position: relative;
    display: grid;
    align-items: end;
    padding-right: 9em;
}

.hero-name svg {
    width: 30em;
}

.hero-title {
    grid-area: 1 / 1;
    opacity: 0;
    transition: opacity 50ms ease-in-out;
    pointer-events: none;
}

.hero-title.active {
    opacity: 1;
}

/* ============================= */
/* GRID */
/* ============================= */
.grid-wrapper {
    position: absolute;
    top: 0;
    left: 60px;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-content: center;
    gap: 5px;
    z-index: 10;
}

.grid-wrapper img {
    width: 5rem;
    height: auto;
    background: #353535;
    border: 4px solid #353535;
    border-radius: 2px;
    transition: transform 0.2s ease;
}

.grid-wrapper img:hover {
    transform: scale(1.15);
}